# Compiled Object files
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# MMR: VS Temporary files
*.opensdf
*.sdf
*.ipch
*.sbr
*.tlog
*.bsc
*.idb
*.ilk
*.lastbuildstate
*.pch
*.pdb
*.tlh
*.tli

# MMR: My files
MArc.MDB
MArc2.exe
MArc2.log
MArc2.res
MArc.MDB~
MArc.ldb