# Compiled Object files
*.obj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# MMR: VS Temporary files
MArc2.aps
*.opensdf
*.sdf
*.ipch
*.sbr
*.tlog
*.bsc
*.idb
*.ilk
*.lastbuildstate
*.pch
*.pdb
*.tlh
*.tli
*.log
/TestResults

# MMR: My files
MArc.MDB
MArc2.exe
MArc2.log
MArc2.res
MArc.MDB~
MArc.ldb
hlp/MArc2.hm

# MMR: Debug and Release files
Debug/*.*
Release/*.*
MArcLib/Debug/*.*
MArcLib/Release/*.*
MArcCore/MArcCoreUnitTest/Debug/*.*
MArcLibUnitTest/Debug/*.*
